/********Registration Form**********/
.registration-content{
    padding:0 0 0rem;
}
.registration-form {
    width: 100%;
    text-align: center;
}
.form-paper {
    width: 100%;
    margin: 0 auto;
    /* text-align: left; */
    padding: 2rem;
}
.checkbox-label {
    padding: 0.35rem;
}
.form-category-header{
    background-color: black;
    color:white;
    padding:0.5rem;
    margin:1rem 0;
}
.form-group {
    width: 100%;
    
}
.form-input {
    display: inline-flex;
    /* flex-wrap: wrap; */
    justify-content:flex-start;
    width: 100%;
    margin-bottom:1rem
}
.form-input label {
    text-align: left;
    width: 20%;
    margin:0;
    /* padding-left:0.5rem; */
}
.form-input input,.form-input textarea{
    width:80%;
    height:100%;
    border:1px solid black;
    border-radius:5px;
    padding: 0.5rem 1rem;
}
.form-subcategory-header {
    margin: 1rem 0;
    background-color: #8c8c8c;
    color:white;
    padding:0.5rem;
}
.registration-form button {
    width: 80%;
    background-color: black;
    transition: 0.5s;
    margin-top: 2rem;
    font-size:1rem;
    border: 0px;
}
.registration-form button:hover {
    background-color: #8c8c8c;
    transition: 0.5s;
}


/***********Login Form**********/
.login-content{
    padding:10.5rem 6rem 3rem;
}
.login-content .registration-form{
    width:40%;
    margin:0 auto;
}
@media only screen and (max-width: 1007px) {
    .form-paper {
        width: 90%;
    }
    .form-input label{
        width: 30%;
    }
}
@media only screen and (max-width:640px){
    .registration-form{
        width:100%;
        padding:10.5rem 0rem 3rem;
    }
    .form-paper{
        padding:1rem 0.5rem;
        width:100%;
    }
    .form-input label{
        width:40%;
    }
}

