.App {
    font-family: sans-serif;
    text-align: center;
}
* {
    font-family: "B612", sans-serif;
}
a:hover {
    text-decoration: none;
    color: white;
}
.content {
    font-family: "B612", sans-serif;
    background-color: black;
}
body {
    background-color: white;
}

/**********************Particles js****************************/
.particles-js {
    position: fixed;
    z-index: 0;
    height: 100%;
    width: 100vw;
}

/******************Top Section of Pages************************/
.top-body {
    padding: 10.5rem 6rem 0rem;
    width: 100%;
    text-align: left;
}
.top-heading {
    margin-bottom: 5rem;
    font-size: 4.5rem;
    text-align: center;
}
.top-paragraph {
    width: 60%;
}
.top-main-image {
    width: 200px;
    position: relative;
    bottom: 1rem;
}

.top-content {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*************************************Optimize for smaller screens************************************************/
@media only screen and (max-width: 1007px) {
    .top-body {
        padding: 10.5rem 4rem 0;
        text-align: center;
    }
    .top-heading {
        font-size: 3rem;
    }
    .top-paragraph {
        width: 60%;
    }
}

/**********************Optimize for mobiles************************/
@media only screen and (max-width: 640px) {
    /****************************CONTACT,achievement,course AND ABOUT PAGE***********************************/
    .top-body {
        padding: 10.5rem 1rem 0;
        text-align: center;
    }
    .top-heading {
        margin-bottom: 1rem;
        font-size: 3rem;
    }
    .top-paragraph {
        width: 95%;
    }
    .top-main-image {
        width: 40%;
        margin-top: 2rem;
    }
    .top-content {
        justify-content: center;
    }
}
