.App {
    font-family: sans-serif;
    text-align: center;
}
* {
    font-family: "B612", sans-serif;
}
a:hover {
    text-decoration: none;
    color: white;
}
.content {
    font-family: "B612", sans-serif;
    background-color: black;
}
body {
    background-color: white;
}

/**************************ACHIEVERS PAGE*********************************/

.particles-js {
    position: fixed;
    z-index: 0;
    height: 100%;
    width: 100vw;
}

/****************************CONTACT,achievement,course AND ABOUT PAGE***********************************/
.course-body,
.about-body,
.achievement,
.contact-body {
    padding: 10.5rem 10% 5rem;
    width: 100%;
    text-align: left;
}
.course-heading,
.about-heading,
.achievers-heading,
.contact-heading {
    margin-bottom: 5rem;
    font-size: 4.5rem;
    text-align: center;
}
.course-paragraph,
.about-paragraph,
.achievers-paragraph,
.contact-paragraph {
    display: inline-block;
    width: 60%;
    margin-right: 10rem;
    margin-left: 1rem;
}
.main-image,
.course-main-image,
.achievers-main-image,
.contact-main-image {
    width: 15%;
    margin-left: 5rem;
    position: relative;
    bottom: 1rem;
    display: inline-block;
}

/*************************************Optimize for smaller screens************************************************/
@media only screen and (max-width: 1350px) {
    
    /****************************COURSE, ACHIEVEMENT AND ABOUT PAGE***********************************/
    .course-body,
    .about-body,
    .achievement,
    .contact-body {
        padding: 10.5rem 10% 5rem;
        width: 100%;
        text-align: center;
    }
    .course-heading,
    .about-heading,
    .achievers-heading,
    .contact-heading {
        margin-bottom: 5rem;
        font-size: 3rem;
        text-align: center;
    }
    .course-paragraph,
    .about-paragraph,
    .achievers-paragraph,
    .contact-paragraph {
        display: inline-block;
        width: 45%;
        text-align: right;
        margin-right: 20%;
        margin-left: 1rem;
    }
    .main-image,
    .course-main-image,
    .achievers-main-image,
    .contact-main-image {
        width: 25%;
        margin-left: 0rem;
        position: relative;
        bottom: 7.5rem;
        display: inline-block;
    }
    
}

/**********************Optimize for mobiles************************/
@media only screen and (max-width: 720px) {

    /****************************CONTACT,achievement,course AND ABOUT PAGE***********************************/
    .course-body,
    .about-body,
    .achievement,
    .contact-body {
        padding: 10.5rem 1% 3rem;
        width: 100%;
        text-align: center;
    }
    .course-heading,
    .about-heading,
    .achievers-heading,
    .contact-heading {
        margin-bottom: 1rem;
        font-size: 3rem;
        text-align: center;
    }
    .course-paragraph,
    .about-paragraph,
    .achievers-paragraph,
    .contact-paragraph {
        display: inline-block;
        width: 80%;
        text-align: center;
        margin: 2rem auto;
    }
    .main-image,
    .course-main-image,
    .achievers-main-image,
    .contact-main-image {
        width: 40%;
        margin-left: 5rem;
        position: relative;
        bottom: 0rem;
        right: 2rem;
    }
    
}
