.card-heading {
    margin-bottom: 2rem;
  }
  .card-subheading {
    margin-bottom: 2rem;
  }
  .card-about {
    width: 50%;
    color: #8c8c8c;
    display: inline-block;
  }
  .card-image {
    display: inline-block;
    width: 30%;
    /* height:7.5rem; */
    position: relative;
    left: 5rem;
    bottom: 3rem;
  }
  
  .card-image-3 {
    position: relative;
    top: 0rem;
  }
@media only screen and (max-width:1350px){
    .card-heading {
        margin-bottom: 2rem;
      }
      .card-subheading {
        margin-bottom: 2rem;
      }
      .card-about {
        width: 50%;
      }
      .card-image {
        display: inline-block;
        width: 25%;
        position: relative;
        left: 8rem;
        bottom: 4rem;
      }
      
      .card-image-3 {
        position: relative;
        top: 0rem;
      }
}
@media only screen and (max-width: 720px) {
    .card-heading {
        font-size: 1.5rem;
        margin-bottom: 2rem;
      }
      .card-subheading {
        font-size: 1.25rem;
        margin-bottom: 2rem;
      }
      .card-about {
        width: 50%;
        font-size: 12px;
        color: #8c8c8c;
        display: inline-block;
      }
      .card-image {
        display: inline-block;
        width: 30%;
        /* height:7.5rem; */
        position: relative;
        left: 3rem;
        bottom: 2rem;
      }
      
      .card-image-3 {
        position: relative;
        top: 0rem;
      }
}