.gallery-content{
  padding:1rem 1.25rem 4rem;
}
.overlay {
    position: absolute;
    height: 0px;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
  }
  .gallery-card {
    height: 260px;
    width: 30%;
    margin: 0px 0rem;
    padding: 0;
  }
  .gallery-image {
    width: 100%;
    height: 260px;
  }
  .gallery-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(0%, 0%);
    text-align: center;
  }
  .gallery-card:hover .overlay {
    opacity: 1;
  }
  .gallery-card:hover .gallery-image {
    opacity: 0.5;
    transition: 0.5s ease;
  }
  .gallery-card-body {
    padding: 0;
  }
  .gallery-card-section {
    display: inline-flex;
    margin-top: 5rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media only screen and (max-width: 1350px){
    .gallery-card {
      height: 260px;
      width: 50%;
      margin: 0px 0rem;
      padding: 0;
    }
  }
  @media only screen and (max-width: 720px){
    .gallery-content{
      padding:1rem 0.25rem;
    }
    .overlay {
        position: absolute;
        height: 0px;
        width: 100%;
        opacity: 0;
        transition: 0.5s ease;
      }
      .gallery-card {
        height: 260px;
        width: 100%;
        margin: 0px 0rem;
        padding: 0;
      }
      .gallery-image {
        width: 100%;
        height: 260px;
      }
    
      .gallery-card:hover .overlay {
        opacity: 1;
      }
      .gallery-card:hover .gallery-image {
        opacity: 0.5;
        transition: 0.5s ease;
      }
      .gallery-card-body {
        padding: 0;
      }
      .gallery-card-section {
        margin-top: 5rem;
      }
}  