.footer{
  /* margin-top:3rem; */
  padding:6rem;
  background-color: black;
  color:white;
  text-align: left;
  position: relative;
  z-index: 2;
}
a{
  text-decoration: none;
  color:#8c8c8c;
}

.footer-content{
  display: inline-flex;
  margin-top:1rem;
  width:100%;
  justify-content: space-between;
  flex-wrap:wrap;
  color:#8c8c8c;
}
.brand-footer{
  margin-bottom: 3rem ;
}
.row-heading h4{
  margin:0
}
.footer-right{
  text-align: right;
  display: inline-flex;
  align-items: flex-end;
  /* width:50%; */
}
.quick-links{
  text-align: left;
  /* width:50%; */
}
.row-links{
  margin-bottom: 0.5rem;
}

.icon-links{
  display: inline-flex;
  width:60%;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  
}
.freepik-mention{
  margin-bottom: 0.5rem;
}

@media only screen and (max-width:1007px){
  .footer{
    padding:6rem 3rem;
  }
}
@media only screen and (max-width:640px){
  .footer{
    padding:6rem 1rem;
    text-align: center;
  }
  
  .quick-links{
    width:100%;
    text-align: center;
    margin: 0 0rem 2rem;
    
  }
  .footer-right{
    text-align: center;
    width:100%;
    align-items: stretch;
  }
  .footer-right-content{
    width:100%;
  }
  .freepik-mention{
    font-size: 10px;
  }
}