.achievers-card {
    margin: 0.25rem 0.25rem;
    text-align: center;
    z-index: -1;
    width: 29%;
}

.achievers-card-section {
    display: inline-flex;
    margin: 2rem auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.achiever-title {
    font-weight: bold;
}
.achiever-image {
    height: 20rem;
}

@media only screen and (max-width: 1007px) {
    .achievers-card {
        width: 40%;
    }
    .achievers-card-section {
        margin-top: 3rem;
    }
    .achiever-title {
        font-weight: bold;
    }
    .achiever-image {
        height: 20rem;
    }
}
@media only screen and (max-width: 640px) {
    .achievers-card {
        width: 95%;
    }
    .achievers-card-section {
        margin-top: 3rem;
    }
    .achiever-title {
        font-weight: bold;
    }
}
