.header {
    position: fixed;
    z-index: 16;
    top: 0;
    left:0;
    height: 8rem;
    width: 100%;
    color: white;
    padding: 0 6rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
.header a:hover {
    color: white;
}
.brandName {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    position: relative;
    left:1.25rem;
    font-family: "Spectral", serif;
}
@media only screen and (max-width: 1007px) {
    .header{
        padding:0 4rem;
    }
}
@media only screen and (max-width: 640px) {
    .header {
        padding: 0 1rem;
    }
    .brandName {
        font-size: 2rem;
        font-weight: bold;
    }
}
