.create-notice-label-title h6 {
    margin: 0;
}

.create-notice-input-title {
    margin-bottom: 1rem;
}
.notice-body {
    margin: 0 auto 2rem;
    width: 60%;
}
.notice-paper,
.create-notice-paper {
    padding: 3rem 2rem;
}
.notice-header {
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
}
.notice-title,
.notice-date {
    margin: 0;
    width: 50%;
    display: inline-block;
}
.notice-date {
    text-align: right;
}
.noticeboard-content {
    padding: 3rem 6rem 2rem;
    width: 100%;
}
/*************************Individual Notice******************/

/******* Create Notice ******/
.create-notice-form-paper {
    padding: 2rem;
    height: 85.5%;
    width: 100%;
    margin: 0;
}
.create-notice-registration-form {
    width: 100%;
    height: 100%;
    text-align: center;
}
.create-notice-form-input {
    display: inline-flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}
.create-notice-form-input label {
    align-items: center;
    text-align: left;
    width: 20%;
    margin: 0;
}
.create-notice-form-input input,
.create-notice-form-input textarea {
    width: 65%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}
.create-notice-registration-form button {
    width: 100%;
    background-color: black;
    transition: 0.5s;
    position: relative;
    top: 1rem;
    font-size: 1rem;
    border: 0px;
}
.create-notice-registration-form button:hover {
    background-color: #8c8c8c;
    transition: 0.5s;
}

@media only screen and (max-width: 1007px) {
    .create-notice-form-paper {
        padding: 2rem 1rem;
    }

    .create-notice-form-input input,
    .create-notice-form-input textarea {
        width: 59%;
    }
    .noticeboard-content {
        padding:3rem 4rem 3rem;
    }
}

@media only screen and (max-width: 640px) {
    .noticeboard-content {
        padding:3rem 1rem 3rem;
    }
    .create-notice-registration-form {
    }
    .create-notice-form {
        width: 100%;
        margin: 0 auto;
    }

    .notice-board {
        width: 95%;
        margin: 2rem auto;
    }
    .notice-body {
        margin: 0 auto 2rem;
        width: 95%;
    }
    .noticeboard-footer {
        width: 100%;
    }
}
