.contact-cards {
    width:100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.contact-card-content {
    width:100%;
    display: inline-flex;
    justify-content: space-between;
}
.contact-card {
    width: 45%;
    background-color: black;
    color: white;
    padding: 2.5rem 3rem;
    border-radius: 1rem;
    margin: 0.25rem;
}
.contact-card-heading {
    margin-bottom: 2rem;
}
.contact-card-about {
    color: #8c8c8c;
}
.contact-card-image img{
    height:150px;
    width:150px;
    position: relative;
    bottom:1rem;
}
.card-about {
    font-size: 1rem;
    color: #8c8c8c;
}

@media only screen and (max-width: 1007px) {
    .contact-card {
        width: 80%;
        padding: 2.5rem 3rem;
        border-radius: 1rem;
        margin: 0.5rem;
        text-align: left;
    }
    .card-heading {
        margin-bottom: 2rem;
    }
    
}

@media only screen and (max-width: 640px) {
    .contact-cards{
        margin-top:3rem;
    }
    .contact-card {
        width: 95%;
        padding: 1.5rem 1rem 0rem 1rem;
        margin: 0.5rem auto 0.6rem;
    }
    .card-heading {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    
}

